<div class="card">
  <!-- {{ product | json }} -->
  <h5 class="card-header" *ngIf="student.id">{{ student.firstName }}</h5>
  <h5 class="card-header" *ngIf="!student.id">New Student</h5>

  <ul *ngIf="student && isConfirmDelete" class="list-group list-group-flush">
    <li class="list-group-item">
      Anda yakin ingin menghapus data <strong>{{ student.firstName }}</strong>
    </li>
    <li class="list-group-item">
      <div class="mb-2 mt-2" *ngIf="student.id">
        <button class="btn btn-primary me-1" (click)="delete()">Yes</button>
        <button class="btn btn-danger me-1" (click)="isConfirmDelete = false">
          No
        </button>
      </div>
    </li>
  </ul>

  <ul class="list-group list-group-flush" *ngIf="!isConfirmDelete">
    <li class="list-group-item">
      <div class="mb-3">
        <label for="" class="form-label">First Name</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="student.firstName"
        />
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Last Name</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="student.lastName"
        />
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Age</label>
        <input type="number" class="form-control" [(ngModel)]="student.age" />
      </div>
    </li>
    <!-- <li class="list-group-item" (click)="showToggle()" *ngIf="!showMore">
      More
    </li>
    <li class="list-group-item" (click)="showToggle()" *ngIf="showMore">
      Hide
    </li>
    <li class="list-group-item" *ngIf="showMore">
      <div class="mb-3">
        <label for="" class="form-label">Discount</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="product.discountPercentage"
        />
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Stock</label>
        <input type="number" class="form-control" [(ngModel)]="product.stock" />
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Brand</label>
        <input type="text" class="form-control" [(ngModel)]="product.brand" />
      </div>
    </li> -->
    <li class="list-group-item">
      <div class="mb-2 mt-2" *ngIf="!student.id">
        <button class="btn btn-primary" (click)="onCreateStudent()">
          Save
        </button>
      </div>
      <div class="mb-2 mt-2" *ngIf="student.id">
        <button class="btn btn-primary me-1" (click)="update()">Update</button>
        <button class="btn btn-warning me-1" (click)="cancel()">Cancel</button>
        <button class="btn btn-danger me-1" (click)="isConfirmDelete = true">
          Delete
        </button>
      </div>
    </li>
  </ul>
</div>
