<div class="container mt-3">
  <div class="row">
    <div class="col-md-4">
      <app-student-form #pf [student]="student"></app-student-form>
    </div>
    <div class="col-md-8">
      <!-- <div class="card">
        <h5 class="card-header">Students</h5>
        <div class="card-body">
          <h5 class="card-title">Hai, Student belum ada</h5>
          <p class="card-text">Isi Student di form sebelah</p>
        </div>
      </div> -->
      <div class="card">
        <h5 class="card-header">Students</h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Age</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of students">
              <td>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="row.firstName"
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="row.lastName"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="row.age"
                />
              </td>
              <td>
                <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                  <button
                    type="button"
                    class="btn btn-outline-primary me-2"
                    id="dropdownManual"
                    ngbDropdownAnchor
                    (focus)="myDrop.open()"
                  >
                    Action
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownManual">
                    <button ngbDropdownItem (click)="edit(row.id, row)">
                      Edit
                    </button>
                    <button ngbDropdownItem (click)="delete(row.id)">
                      Delete
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
