<nav class="navbar bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img
        src="assets/icon.svg"
        alt=""
        width="35"
        height="35"
        class="d-inline-block align-text-top"
      />
      <span class="mt-2 ms-2">Archanlo</span>
    </a>
    <!-- <form class="d-flex" role="search">
      <button
        class="btn btn-outline-success"
        type="submit"
        (click)="createTask()"
      >
        New Task
      </button>
    </form> -->
  </div>
</nav>
